html {
  font-size: 14px;
  font-family: Arial, sans-serif;
  background-color: #1ed760;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  color: #333;
}

.navbar {
  background-color: #292929 !important;
}

.navbar-brand, .nav-link {
  color: #318fd3 !important;
}

.nav-link:hover {
  color: #258cfb !important;
}

.footer {
  background-color: #292929 !important;
  color: #318fd3 !important;
}

.footer a {
  color: #318fd3 !important;
}

.footer a:hover {
  color: #258cfb !important;
}

.main {
  padding: 20px 0;
  background-color: #1ed760;
}

.navbar-brand img {
  border-radius: 10px;
}
